
.myfooter-background{
    position: relative;
    bottom: 0;
    height:11rem;
    width: 100%;
    background:linear-gradient(60deg,rgb(28, 209, 28),yellow);
    
        margin-top: .3rem;
    
    
    .icons-social-media{
        padding-bottom:0.7rem;
        display:flex;
        align-items:center;
        justify-content:center;
        .BsFacebook{font-size:1rem}
    }

    .contact{
        font-family:a;

        margin-bottom: 1rem;
    }
    .Copyright{
        display: flex;
    justify-content:center;
    align-items:center;
    margin-bottom: .5rem;
    }
}

