.loginFORM {
   border: .3rem inset green;
   width:24rem;
   height:15rem ;
   margin-top:3rem;
   margin-left:3rem;
   margin-right: 2rem;
   border-radius:3rem;
margin-top:3rem;
margin-bottom:3rem;
background-image:url(https://www.pinterest.com/pin/705376360386848864/)}
   .login{
       display:flex;
       flex-direction: column;
       margin-top:1rem;
       margin-left: 3rem;
       
       .email ,.password{
           display:flex;
           flex-direction:column;
        }
       input{
        margin-top:1rem;
        border-radius:3rem;
        width:15rem
       }
   }
