.navbar_logo_image:hover{
     transform:translateY(-.4rem)!important;
     -webkit-box-reflect: below 0.3em linear-gradient(transparent,rgb(214, 207, 207)) ;
    border-radius:3rem;
    
}
.nav_transform:hover{
    transform: translateY(-.4rem);
    color: rgba(0, 255, 64, 0.87) !important;

}